.border-clip {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(45deg, gold, deeppink);

    position: relative;
    text-align: center;

    animation: borderClipHue 6s infinite linear;
    filter: hue-rotate(360deg);

}

.border-clip-logo {

    width: 50px;
    height: 50px;
    border: 25px solid black;
    border-bottom: 50px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
}

@keyframes borderClipHue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rorate(360deg);
    }
}

.border-image-clip-path {
    width: 200px;
    height: 100px;
    margin: auto;
    border: 10px solid;
    border-bottom: 50px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 10px);
    animation: borderClipHue 6s infinite linear;
    filter: hue-rotate(360deg);
}